*{
    margin: 0;
    padding: 0;
    transition: all ease-in 0.2s;
}

body{
    height: 80vh;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    
}

.logo{
    margin: 20px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
   
}

a:hover{
    color: white;
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 80vh;
}

h1{
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}

p{
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    font-weight: 400;
    text-align: center;
}

